@page "/R_Facturas"
@page "/R_Facturas/{FacturaId:int}"

@inject IToastService toastService

<EditForm Model="factura" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container-sm row-cols-md-1">

        <div class="card shadow-lg">

            <div class="card-header">
                <h3 class="card-title">Registro de Facturas</h3>
            </div>

            <div class="card-body">

                @* Buscar *@
                <div class="form-group align-items-Center">
                    <div class="form-row">
                        <label>Buscar</label>

                        <div class="input-group mb-3">

                            <span class="input-group-text" id="basic-addon2">Factura Id </span>
                            <InputNumber @bind-Value="factura.FacturaId" class="form-control" />

                            <div class="input-group-append col">
                                <button type="button" class="btn btn-success" @onclick="Buscar">
                                    <span class="oi oi-magnifying-glass">Buscar</span>
                                </button>
                            </div>
                        </div>

                        <ValidationMessage For="@(() => factura.FacturaId)" />
                    </div>
                </div>
                
                <hr>
                <hr>

                <div class="input-group mb-4">
                    <span class="input-group-text" id="basic-addon2">Fecha</span>
                    <InputDate readonly= class="form-control" @bind-Value="factura.FechaFactura" />
                </div>

                @* ComboBox Pacientes *@

                <div class="input-group mb-4">

                    <span class="input-group-text" id="basic-addon2">Pacientes</span>
                    <InputSelect id="SelectProductos" @bind-Value="factura.PacienteId" class="form-control">

                        @foreach (var item in listaPacientes)
                        {
                            <option value="@item.PacienteId">@item.Nombre @item.Apellido</option>
                        }

                    </InputSelect>
                    <ValidationMessage For="@(() => factura.PacienteId)" />
                    
                    <span class="input-group-text" id="basic-addon2">Aseguradora</span>
                    <InputSelect id="SelectAseguradora" @bind-Value="factura.Aseguradora" class="form-control">
                        
                        <option></option>

                        @foreach (var item in listaAseguradora)
                        {
                            <option value="@item.Nombre">@item.Nombre</option>
                        }

                    </InputSelect>
                    <ValidationMessage For="@(() => factura.Aseguradora)" />
                    
                </div>

                <br>

                @* Factura Detalle *@
                <div class="card">

                    <div class="card-header">
                        <h3>Detalle</h3>
                    </div>

                    <form>

                        <div class=" row align-items-end">

                            @* Procedimiento *@
                            <div class="form-group col">
                                <label>Procedimiento</label>
                                <InputSelect id="SelectProcedimiento" @bind-Value="detalle.ProcedimientoId" class="form-control">

                                    @foreach (var item in listaProcedimientos)
                                    {
                                        <option value="@item.ProcedimientoId">@item.Nombre</option>
                                    }

                                </InputSelect>
                                <ValidationMessage For="@(() => detalle.FacturaDetalleId)" />
                            </div>

                            <button type="button" class="btn btn-success col" @onclick="AgregarDetalle">
                                <span class="oi oi-plus"> Agregar</span>
                            </button>

                        </div>

                        <br>

                        <table class="table table-secondary">
                            <thead class="thead-dark">
                                <tr class="table-info">
                                    <th>Procedimiento ID</th>
                                    <th>Procedimiento</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in factura.Detalle)
                                {
                                    <tr>
                                        <td>@item.ProcedimientoId</td>
                                        <td>@item.Procedimiento</td>
                                        <td>RD$ @item.Precio</td>
                                        <td>
                                            <span class="btn btn-sm btn-outline-primary oi oi-ban" href="#"
                                                @onclick=" (() => RemoverFila(item)) "> Remover
                                            </span>    
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </form>

                </div>

                 @* Monto *@
                <div class="input-group mb-2">
                    <span class="input-group-text">
                        Monto 
                    </span>
                    <InputNumber class="form-control" @bind-Value="Monto" readonly />
                </div>

            </div>

        </div>

    </div>

    @* Botones *@
    <div class="card-footer">
        <div class="form-group text-center" display: inline-block>

            <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">
                <span class="oi oi-plus"> Nuevo</span>
            </button>

            <button type="submit" class="btn btn-lg btn-success">
                <span class="oi oi-folder"> Guardar</span>
            </button>

            <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">
                <span class="oi oi-trash"> Eliminar</span>
            </button>
        </div>
    </div>

</EditForm>

@code {

    [Parameter]
    public int FacturaId { get; set; }
    public float Monto { get; set; }

    public Factura factura { get; set; } = new Factura();
    public FacturaDetalle detalle { get; set; } = new FacturaDetalle();
    public List<Paciente>? listaPacientes { get; set; } = new List<Paciente>();
    public List<Procedimiento>? listaProcedimientos { get; set; } = new List<Procedimiento>();
    public List<Aseguradora>? listaAseguradora { get; set; } = new List<Aseguradora>();
    
    [Inject]
    public FacturaBLL facturaBLL { get; set; }

    [Inject]
    public ProcedimientoBLL procedimientoBLL { get; set; }

    [Inject]
    public PacienteBLL pacienteBLL { get; set; } 

    [Inject]
    public AseguradoraBLL aseguradoraBLL { get; set; }

    protected override void OnInitialized()
    {
        LlenarListaPacientes();
        LlenarListaProcedimiento();
        LlenarListaAseguradora();
        factura.FacturaId = FacturaId;
        Buscar();
    }

    public void Buscar()
    {
        if (this.factura.FacturaId > 0)
        {

            Factura encontrado = facturaBLL.Buscar(this.factura.FacturaId);

            if (encontrado != null)
            {
                this.factura = encontrado;
                Monto = factura.Monto;
            }
            else
            {
                toastService.ShowError("No se encontr贸 la Factura");
            }
        }
    }

    private void RemoverFila(FacturaDetalle item)
    {
        RestaMonto(item.ProcedimientoId);
        this.factura.Detalle.Remove(item);
    }

    public void AgregarDetalle()
    {
        LLenarDetalle();
        detalle.FacturaId = factura.FacturaId;
        this.factura.Detalle.Add(detalle);
        NuevoDetalle();
    }
    
    public void LLenarDetalle()
    {
        var procedimiento = procedimientoBLL.Buscar(detalle.ProcedimientoId);
        
        detalle.Procedimiento = procedimiento.Descripcion;
        detalle.Precio = procedimiento.Precio;

        CalcularMonto(procedimiento.Precio);
    } 
    
    public void Nuevo()
    {
        factura = new Factura();
    }

    public void NuevoDetalle()
    {
        detalle = new FacturaDetalle();
    }

    public void Guardar()
    {
        try
        {
            if (facturaBLL.Guardar(factura))
            {
                Nuevo();
                toastService.ShowInfo("Se guard贸 exitosamente");
                Monto = 0;
            }
            else
            {
                toastService.ShowError("No se pudo guardar.");
            }    
        }
        catch (Exception)
        {
            toastService.ShowError("The instance of entity type 'Factura' cannot be tracked because another instance with the same key value for {'FacturaId'} is already being tracked.");
        }
    }

    public void Eliminar()
    {
        if (facturaBLL.Eliminar(factura.FacturaId))
        {
            Nuevo();
            toastService.ShowSuccess("Eliminaci贸n exitosa");
        }
        else
        {
            toastService.ShowError("Eliminaci贸n fallida");
        }
    }

    public void LlenarListaPacientes()
    {
        listaPacientes = pacienteBLL.GetList(t => true);
    }

    public void LlenarListaProcedimiento()
    {
        listaProcedimientos = procedimientoBLL.GetList(t => true);
    }

    public void LlenarListaAseguradora()
    {
        listaAseguradora = aseguradoraBLL.GetList(t => true);
    }

    public void CalcularMonto(float monto)
    {
        Monto += monto;
    }

    public void RestaMonto(int id)
    {
        var procedimiento = procedimientoBLL.Buscar(id);
        var auxiliar = Monto -= procedimiento.Precio;
        
        if (auxiliar < 0)
        {
            Monto = 0;
        }
    }
}