@page "/R_Pacientes"
@* @page "/R_Pacientes/{PacienteId:int}" *@

@* @inject IToastService toastService *@

<EditForm Model="paciente" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <div class="container-sm row-cols-md-1">

        <div class="card shadow-lg">

            <div class="card-header">
                <h3 class="card-title">Registro de Pacientes</h3>
            </div>

            <div class="card-body">

                @* Buscar *@
                <div class="form-group align-items-Center">
                    <div class="form-row">
                        <label>Buscar</label>

                        <div class="input-group mb-3">

                            <span class="input-group-text" id="basic-addon2">Producto Id: </span>
                            <InputNumber @bind-Value="paciente.PacienteId" class="form-control" />

                            <div class="input-group-append col">
                                <button type="button" class="btn btn-success" @onclick="Buscar">
                                    <span class="oi oi-magnifying-glass">Buscar</span>
                                </button>
                            </div>
                        </div>

                        <ValidationMessage For="@(() => paciente.PacienteId)" />
                    </div>
                </div>

                <hr>
                
                <div class="row">

                    @* Nombre *@                    
                    <div class="form-group col">
                        <label>Nombre: </label>
                        <InputText class="form-control" @bind-Value="paciente.Nombre"
                            placeholder="ej; Paquito" />
                        <ValidationMessage For="@(() => paciente.Nombre)" />
                    </div>

                    @* Apellido *@
                    <div class="form-group col">
                        <label>Apellido: </label>
                        <InputText class="form-control" @bind-Value="paciente.Apellido"
                            placeholder="ej; Fernandez " />
                        <ValidationMessage For="@(() => paciente.Apellido)" />
                    </div>

                    @* Email *@
                    <div class="form-group col">
                        <label>Email: </label>
                        <InputText class="form-control" @bind-Value="paciente.Email"
                            placeholder="ej; paquito02@gmail.com" />
                        <ValidationMessage For="@(() => paciente.Email)" />
                    </div>
                </div>

                <br>
                
                <div class="row">

                    @* Direccion *@                    
                    <div class="form-group col">
                        <label>Direccion: </label>
                        <InputText class="form-control" @bind-Value="paciente.Direccion"
                            placeholder="ej; Provincia/Ciudad/Calle" />
                        <ValidationMessage For="@(() => paciente.Direccion)" />
                    </div>

                    @* Apellido *@
                    <div class="form-group col">
                        <label>Telefono: </label>
                        <InputNumber class="form-control" @bind-Value="paciente.Telefono"
                            placeholder="ej; 809xxxxxxx" />
                        <ValidationMessage For="@(() => paciente.Telefono)" />
                    </div>

                    @* Email *@
                    <div class="form-group col">
                        <label>Sexo: </label>
                        <InputText class="form-control" @bind-Value="paciente.Email"
                            placeholder="ej; paquito02@gmail.com" />
                        <ValidationMessage For="@(() => paciente.Email)" />
                    </div>
                </div>
            </div>

        </div>

    </div>



    @* Botones *@
    <div class="card-footer">
        <div class="form-group text-center" display: inline-block>

            <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">
                <span class="oi oi-plus"> Nuevo</span>
            </button>

            <button type="submit" class="btn btn-lg btn-success">
                <span class="oi oi-folder"> Guardar</span>
            </button>

            <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">
                <span class="oi oi-trash"> Eliminar</span>
            </button>
        </div>
    </div>

</EditForm>

@code {

    public Paciente paciente { get; set; } = new Paciente();

    protected override void OnInitialized()
    {

    }

    public void Buscar()
    {
        /* if (this.producto.ProductoId > 0)
        {
        Productos encontrado = productosBLL.Buscar(this.producto.ProductoId);

        if (encontrado != null)
        {
        this.producto = encontrado;
        }
        else
        {
        toastService.ShowError("No se encontr贸 el producto");
        }
        } */
    }
    public void Nuevo()
    {
        //producto = new Productos();
    }

    public void Guardar()
    {
        /* if (productosBLL.Guardar(producto))
        {
        Nuevo();
        toastService.ShowInfo("Se guard贸 exitosamente");
        }
        else
        toastService.ShowError("No se pudo guardar.");
        */
    }
    public void Eliminar()
    {
        /* if (productosBLL.Eliminar(producto.ProductoId))
        {
        Nuevo();
        toastService.ShowSuccess("Eliminaci贸n exitosa");
        }
        else
        {
        toastService.ShowError("Eliminaci贸n fallida");
        } */
    }

}