@page "/R_Pacientes"
@page "/R_Pacientes/{PacienteId:int}"

@inject IToastService toastService

<EditForm Model="paciente" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <div class="container-sm row-cols-md-1">

        <div class="card shadow-lg">

            <div class="card-header">
                <h3 class="card-title">Registro de Pacientes</h3>
            </div>

            <div class="card-body">

                @* Buscar *@
                <div class="form-group align-items-Center">
                    <div class="form-row">
                        <label>Buscar</label>

                        <div class="input-group mb-3">

                            <span class="input-group-text" id="basic-addon2">Paciente Id: </span>
                            <InputNumber @bind-Value="paciente.PacienteId" class="form-control" />

                            <div class="input-group-append col">
                                <button type="button" class="btn btn-success" @onclick="Buscar">
                                    <span class="oi oi-magnifying-glass">Buscar</span>
                                </button>
                            </div>
                        </div>

                        <ValidationMessage For="@(() => paciente.PacienteId)" />
                    </div>
                </div>

                <hr>
                
                <div class="row">

                    @* Nombre *@                    
                    <div class="form-group col">
                        <label>Nombre </label>
                        <InputText class="form-control" @bind-Value="paciente.Nombre"
                            placeholder="ej; Paquito" />
                        <ValidationMessage For="@(() => paciente.Nombre)" />
                    </div>

                    @* Apellido *@
                    <div class="form-group col">
                        <label>Apellido </label>
                        <InputText class="form-control" @bind-Value="paciente.Apellido"
                            placeholder="ej; Fernandez " />
                        <ValidationMessage For="@(() => paciente.Apellido)" />
                    </div>

                    @* Email *@
                    <div class="form-group col">
                        <label>Email </label>
                        <InputText class="form-control" @bind-Value="paciente.Email"
                            placeholder="ej; paquito02@gmail.com" />
                        <ValidationMessage For="@(() => paciente.Email)" />
                    </div>
                </div>

                <br>
                
                <div class="row">

                    @* Direccion *@                    
                    <div class="form-group col">
                        <label>Direccion </label>
                        <InputText class="form-control" @bind-Value="paciente.Direccion" data-bv-emailaddress-message="The value is not a valid email address"
                            placeholder="ej; Provincia/Ciudad/Calle" />
                        <ValidationMessage For="@(() => paciente.Direccion)" />
                    </div>

                    @* Apellido *@
                    <div class="form-group col">
                        <label>Telefono </label>
                        <InputText class="form-control" @bind-Value="paciente.Telefono"
                            placeholder="ej; 000-000-0000" />
                        <ValidationMessage For="@(() => paciente.Telefono)" />
                    </div>

                    @* Email *@
                    <div class="form-group col">
                        <label>Sexo </label>
                        <InputSelect id="SelectProductos" @bind-Value="paciente.Sexo" class="form-control">
                            <option value=1>Hombre</option>
                            <option value=2>Mujer</option>
                        </InputSelect>
                        <ValidationMessage For="@(() => paciente.Sexo)" />
                    </div>
                </div>
                
                <br>

                <div class="row">

                    @* Estado Civil *@                    
                    <div class="form-group col">
                        <label>Estado Civil</label>
                        <InputSelect id="SelectProductos" @bind-Value="paciente.EstadoCivil" class="form-control">
                            <option value=1>Soltero</option>
                            <option value=2>Casado</option>
                        </InputSelect>
                        <ValidationMessage For="@(() => paciente.EstadoCivil)" />
                    </div>

                    @* Fecha de Nacimiento *@
                    <div class="form-group col">
                        <label>Fecha de Nacimiento </label>
                        <InputDate class="form-control" @bind-Value="paciente.FechaNacimiento"
                            placeholder="ej; " />
                        <ValidationMessage For="@(() => paciente.FechaNacimiento)" />
                    </div>

                    @* Cedula *@
                    <div class="form-group col">
                        <label>Cedula </label>
                        <InputText class="form-control" @bind-Value="paciente.Cedula"
                            placeholder="ej; 000-0000000-0" />
                        <ValidationMessage For="@(() => paciente.Cedula)" />
                    </div>

                </div>
            </div>

        </div>

    </div>

    @* Botones *@
    <div class="card-footer">
        <div class="form-group text-center" display: inline-block>

            <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">
                <span class="oi oi-plus"> Nuevo</span>
            </button>

            <button type="submit" class="btn btn-lg btn-success">
                <span class="oi oi-folder"> Guardar</span>
            </button>

            <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">
                <span class="oi oi-trash"> Eliminar</span>
            </button>
        </div>
    </div>

</EditForm>

@code {

    [Parameter]
    public int PacienteId { get; set; }

    public Paciente paciente { get; set; } = new Paciente();

    [Inject]
    public PacienteBLL pacientesBLL { get; set; }

    protected override void OnInitialized()
    {

    }

    public void Buscar()
    {
        if (this.paciente.PacienteId > 0)
        {
            Paciente encontrado = pacientesBLL.Buscar(this.paciente.PacienteId);

            if (encontrado != null)
            {
                this.paciente = encontrado;
            }
            else
            {
                toastService.ShowError("No se encontr贸 el producto");
            }
        }
    }

    public void Nuevo()
    {
        paciente = new Paciente();
    }

    public void Guardar()
    {
        if (pacientesBLL.Guardar(paciente))
        {
            Nuevo();
            toastService.ShowInfo("Se guard贸 exitosamente");
        }
        else
        {
            toastService.ShowError("No se pudo guardar.");
        }
    }
    public void Eliminar()
    {
        if (pacientesBLL.Eliminar(paciente.PacienteId))
        {
            Nuevo();
            toastService.ShowSuccess("Eliminaci贸n exitosa");
        }
        else
        {
            toastService.ShowError("Eliminaci贸n fallida");
        } 
    }

}